@model lesson_16_demo.Models.MealContent;
@{
    ViewData["Title"] = "Carbonara";
}

<div class="text-center">
    <h1 class="display-4">Thanks for your order.</h1>
    <p>You receive some pasta with the following ingredients: @Model.ToString().</p>
</div>
